.login-wrapper {
    display: flex;
    align-items: center;
}

.login-wrapper .items {
    display: flex;
    align-items: center;
}

.login-wrapper form {
	display: flex;
	align-items: center;
}

.login-wrapper button {
	margin: 0;
}

.login-wrapper label {
	margin-right: 10px;
}